<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<!-- Font Awesome -->
		<link rel="stylesheet" href="/formatos/fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="/formatos/fontawesome/css/solid.css" />
		<link rel="stylesheet" href="/formatos/fontawesome/css/regular.css" />

		<!-- Formato personalizado -->
		<link rel="stylesheet" href="/formatos/general.css" />
		<link rel="stylesheet" href="/formatos/pelisPorPersona.css" />

		<!-- Scripts -->
		<script src="/javascript/pelisPorPersona.js"></script>
	</head>
	<body class="flexColAlign">
		<section id="datosPersona" class="flexRow">
			<div id="personaId" class="ocultar"><%= persona.id %></div>
			<div class="espacioDer">Persona:</div>
			<div class="espacioDer negrita"><%= persona.nombre %></div>
			<div class="negrita"><%= persona.apellido %></div>
		</section>
		<section id="peliculas">
			<table>
				<thead>
					<tr>
						<th id="titulo">Título</th>
						<th class="genero">Género</th>
						<th>Acción</th>
					</tr>
				</thead>
				<tbody>
					<% for (let pelicula of peliculas) { %>
					<tr id="listado">
						<td class="id ocultar"><%= pelicula.id %></td>
						<td><%= pelicula.title %></td>
						<td class="genero"><%= pelicula.genre %></td>
						<td><i class="eliminar fa-solid fa-trash-can"></i></td>
					</tr>
					<% } %>
					<% if (peliculas.length < maxNumPelisPorPers) { %>
					<tr id="agregar">
						<td>
							<select name="peliId">
								<option value="" class="ocultar">Agregar</option>
								<% for (let pelicula of pelisAgregar) { %>
								<option value="<%= pelicula.id %>"><%= pelicula.title %></option>
								<% } %>
							</select>
						</td>
						<td></td>
						<td><i class="confirmar fa-solid fa-circle-check inactivo"></i></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</section>
	</body>
</html>
