<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<!-- Font Awesome -->
		<link rel="stylesheet" href="/formatos/fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="/formatos/fontawesome/css/solid.css" />
		<link rel="stylesheet" href="/formatos/fontawesome/css/regular.css" />

		<!-- Formato personalizado -->
		<link rel="stylesheet" href="/formatos/general.css" />
		<link rel="stylesheet" href="/formatos/listadoPersonas.css" />

		<!-- Scripts -->
		<script src="/javascript/listadoPersonas.js"></script>
	</head>
	<body class="flexColAlign">
		<section id="datosPersona" class="flexRow">
			<div id="personaId" class="ocultar"><%= persona.id %></div>
			<div><%= persona.nombre %></div>
			<div></div>
		</section>
		<section id="peliculas">
			<table>
				<thead>
					<tr>
						<th>Título</th>
						<th>Género</th>
					</tr>
				</thead>
				<tbody>
					<% for (let pelicula of peliculas) { %>
					<tr class="listado">
						<td class="id ocultar"><%= pelicula.id %></td>
						<td><%= pelicula.title %></td>
						<td><%= pelicula.genre %></td>
						<td><i class="eliminar fa-solid fa-trash-can"></i></td>
					</tr>
					<% } %>
					<tr class="agregar">
						<td>
							<select name="peliId" id="">
								<% for (let pelicula of peliculas) { %>
									<option value="<%= pelicula.id %>"><%= pelicula.title %></option>
								<% } %>
							</select>
						</td>
						<td></td>
						<td><i class="confirmar fa-solid fa-circle-check inactivo"></i></td>
					</tr>
				</tbody>
			</table>
		</section>
	</body>
</html>
